/target
/vendor
**/*.rs.bk
*~
*.irx
*.symtab
/*.ir
libz3.so
/isla-axiomatic/target
/isla-axiomatic/Cargo.lock
/isla-cat/target
/isla-cat/Cargo.lock
/isla-lib/target
/isla-lib/Cargo.lock
/isla-sail/.merlin
/isla-sail/_build
/isla-sail/plugin.cmxs
/isla-sail/sail_isla_backend.install
/isla-litmus/main.native
/isla-litmus/isla-litmus
/isla-litmus/_build
/doc/*.html
callgrind.*
z3_problems
.merlin
