/target
/vendor
**/*.rs.bk
*~
/*.ir
libz3.so
/isla-cat/target
/isla-lib/target
/isla-sail/.merlin
/isla-sail/_build
/isla-sail/isla-sail
/isla-litmus/main.native
/isla-litmus/isla-litmus
/isla-litmus/_build
/test/*.ir
callgrind.*
z3_problems
.merlin