/target
/vendor
**/*.rs.bk
*~
libz3.so
/isla-lib/target
/isla-sail/.merlin
/isla-sail/_build
/isla-sail/isla-sail
/isla-litmus/main.native
/isla-litmus/isla-litmus
/isla-litmus/_build
/isla-c/latex
/isla-c/html
/isla-c/target
callgrind.*
z3_problems
.merlin