.color0   { background-color: rgba(184,216,240,1); }
.color1   { background-color: rgba(184,216,240,1); }
.color2   { background-color: rgba(192,225,133,1); }
.color3   { background-color: rgba(228,145,196,1); }
.color4   { background-color: rgba(225,192,218,1); }
.color5   { background-color: rgba(236,196,161,1); }
.color6   { background-color: rgba(146,182,181,1); }
.color7   { background-color: rgba(198,181,250,1); }
.color8   { background-color: rgba(228,172,179,1); }
.color9   { background-color: rgba(135,144,154,1); }
.color10  { background-color: rgba(198,202,178,1); }
.color11  { background-color: rgba(192,206,230,1); }
.color12  { background-color: rgba(162,202,182,1); }
.color13  { background-color: rgba(146,232,143,1); }
.color14  { background-color: rgba(178,254,174,1); }
.color15  { background-color: rgba(183,167,170,1); }
.color16  { background-color: rgba(142,130,193,1); }
.color17  { background-color: rgba(230,238,234,1); }
.color18  { background-color: rgba(130,222,174,1); }
.color19  { background-color: rgba(127,136,204,1); }
.color20  { background-color: rgba(135,175,173,1); }
.color21  { background-color: rgba(180,216,214,1); }
.color22  { background-color: rgba(147,189,177,1); }
.color23  { background-color: rgba(234,222,172,1); }
.color24  { background-color: rgba(139,154,180,1); }
.color25  { background-color: rgba(177,232,242,1); }
.color26  { background-color: rgba(176,159,153,1); }
.color27  { background-color: rgba(211,196,205,1); }
.color28  { background-color: rgba(131,252,169,1); }
.color29  { background-color: rgba(218,164,194,1); }
.color30  { background-color: rgba(209,192,240,1); }
.color31  { background-color: rgba(145,152,200,1); }
.color32  { background-color: rgba(190,205,160,1); }
.color33  { background-color: rgba(172,217,238,1); }
.color34  { background-color: rgba(163,196,136,1); }
.color35  { background-color: rgba(131,136,242,1); }
.color36  { background-color: rgba(182,191,198,1); }
.color37  { background-color: rgba(202,162,133,1); }
.color38  { background-color: rgba(211,210,201,1); }
.color39  { background-color: rgba(160,222,235,1); }
.color40  { background-color: rgba(158,186,216,1); }
.color41  { background-color: rgba(245,237,254,1); }
.color42  { background-color: rgba(175,138,240,1); }
.color43  { background-color: rgba(253,249,213,1); }
.color44  { background-color: rgba(136,158,197,1); }
.color45  { background-color: rgba(215,217,147,1); }
.color46  { background-color: rgba(247,183,216,1); }
.color47  { background-color: rgba(130,160,243,1); }
.color48  { background-color: rgba(194,206,206,1); }
.color49  { background-color: rgba(241,146,201,1); }
.color50  { background-color: rgba(161,164,199,1); }
.color51  { background-color: rgba(253,183,158,1); }
.color52  { background-color: rgba(157,182,185,1); }
.color53  { background-color: rgba(207,188,231,1); }
.color54  { background-color: rgba(176,159,229,1); }
.color55  { background-color: rgba(150,206,160,1); }
.color56  { background-color: rgba(254,228,231,1); }
.color57  { background-color: rgba(251,163,226,1); }
.color58  { background-color: rgba(149,211,227,1); }
.color59  { background-color: rgba(223,230,238,1); }
.color60  { background-color: rgba(244,223,153,1); }
.color61  { background-color: rgba(172,220,144,1); }
.color62  { background-color: rgba(139,153,159,1); }
.color63  { background-color: rgba(192,130,145,1); }
.color64  { background-color: rgba(222,188,183,1); }
.color65  { background-color: rgba(138,162,250,1); }
.color66  { background-color: rgba(190,175,253,1); }
.color67  { background-color: rgba(139,175,169,1); }
.color68  { background-color: rgba(237,145,169,1); }
.color69  { background-color: rgba(145,250,188,1); }
.color70  { background-color: rgba(167,201,215,1); }
.color71  { background-color: rgba(209,244,156,1); }
.color72  { background-color: rgba(134,165,191,1); }
.color73  { background-color: rgba(202,212,134,1); }
.color74  { background-color: rgba(176,175,228,1); }
.color75  { background-color: rgba(203,182,176,1); }
.color76  { background-color: rgba(200,215,241,1); }
.color77  { background-color: rgba(137,242,152,1); }
.color78  { background-color: rgba(219,255,156,1); }
.color79  { background-color: rgba(246,145,210,1); }
.color80  { background-color: rgba(251,214,242,1); }
.color81  { background-color: rgba(214,204,198,1); }
.color82  { background-color: rgba(207,169,250,1); }
.color83  { background-color: rgba(243,156,236,1); }
.color84  { background-color: rgba(161,155,180,1); }
.color85  { background-color: rgba(131,234,241,1); }
.color86  { background-color: rgba(151,198,232,1); }
.color87  { background-color: rgba(198,253,210,1); }
.color88  { background-color: rgba(201,156,203,1); }
.color89  { background-color: rgba(187,209,163,1); }
.color90  { background-color: rgba(128,141,218,1); }
.color91  { background-color: rgba(200,217,244,1); }
.color92  { background-color: rgba(246,187,137,1); }
.color93  { background-color: rgba(150,253,209,1); }
.color94  { background-color: rgba(243,190,242,1); }
.color95  { background-color: rgba(195,237,183,1); }
.color96  { background-color: rgba(180,223,237,1); }
.color97  { background-color: rgba(140,153,153,1); }
.color98  { background-color: rgba(168,242,156,1); }
.color99  { background-color: rgba(174,196,132,1); }
.color100 { background-color: rgba(178,223,134,1); }
.color101 { background-color: rgba(187,184,171,1); }
.color102 { background-color: rgba(215,160,138,1); }
.color103 { background-color: rgba(253,165,145,1); }
.color104 { background-color: rgba(174,196,192,1); }
.color105 { background-color: rgba(131,252,151,1); }
.color106 { background-color: rgba(230,167,188,1); }
.color107 { background-color: rgba(202,169,228,1); }
.color108 { background-color: rgba(199,239,173,1); }
.color109 { background-color: rgba(197,130,247,1); }
.color110 { background-color: rgba(206,130,136,1); }
.color111 { background-color: rgba(184,193,187,1); }
.color112 { background-color: rgba(208,192,225,1); }
.color113 { background-color: rgba(209,217,127,1); }
.color114 { background-color: rgba(182,141,214,1); }
