html, body {
  margin: 0;
  padding: 0;
  font-family: 'DejaVu Sans',Arial,Helvetica,sans-serif;
  font-size: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  height: 100%;
  overflow: hidden;
}

input[type="radio"] {
  vertical-align: top;
  margin: 0;
  margin-right: 5px;
}

/*
input[type="checkbox"] {
  vertical-align: top;
  margin: 0;
  margin-right: 7px;
}
*/

.wait, .wait * { cursor: wait !important; }

#views {
  /* golden layout does not work with flex */
  top: 24px; /* header size */
  position: absolute;
  width: 100%;
  height: calc(100% - 24px); /* minus page header height */
}

/* Scrollable overlay panel */
.x-scrollable {
  height: 100%;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: visible;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  position: absolute;
}

.x-scrollable::-webkit-scrollbar {
  display: none;
}

.x-fill {
  width: 100%;
}

#header {
  height: 24px;
  width: 100%;
  background-color: #5f5f5f;
}

.menu {
  color: white;/* #f1f1f1;*/
  background-color: #5f5f5f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; /* this ensures that space between items is zero */
  /*width: min-content;*/
  float: left;
  transition: transform .2s ease-in-out;
}

.menu-no-transition {
  transition: none;
}

.menu input[type=checkbox]:focus {
  outline: none;
}

.menu input[type=radio]:focus {
  outline: none;
}

.menu input[type=checkbox] {
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
  width: 1em;
  height: 1em;
  vertical-align: top;
  margin: 0;
  margin-right: 7px;
}

.menu input[type=checkbox]:not(:checked) {
  border: 1px solid #afafaf;
}

.menu input[type=checkbox]:checked::after {
  content: '\2714';
  font-weight: bold;
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.menu input[type=radio] {
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
  width: 1em;
  height: 1em;
  vertical-align: top;
  margin: 0;
  margin-right: 7px;
}

.menu input[type=radio]:not(:checked) {
  border-radius: 10px;
  border: 1px solid #afafaf;
}

.menu input[type=radio]:checked::after {
  content: '\2714';
  font-weight: bold;
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.menu-item.disabled input:checked::after {
  color: #afafaf;
}

.menu > li {
  display: inline-block;
  font-size: 12px;
}

.menu-icon {
  vertical-align: middle;
  padding: 4px;
  padding-top: 3px;
}

.menu-item {
  background-color: #5f5f5f;
  color: white;/* #f1f1f1;*/
  padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
}

.menu-scroll {
  background: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}

#menu-scroll-left {
  left: 0;
}

#menu-scroll-right {
  right: 0;
}

[data-overflowing="both"] ~ .menu-scroll {
  opacity: 1;
}

[data-overflowing="left"] ~ #menu-scroll-left {
  opacity: 1;
}

[data-overflowing="right"] ~ #menu-scroll-right {
  opacity: 1;
}

.menu-scroll-icon {
  width: 20px;
  height: 24px;
  fill: white;
  transform: scale(0.9);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  /* text selection */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.btn.clicked {
  box-shadow: inset 2px 10px 5px rgba(0,0,0,.3);
  color: #d1d1d1;
  border-radius: 5px;
}

.dropdown > .btn:active {
  transform: scale(0.95);
}

.dropdown > .btn.disabled:active {
  transform: unset;
}

.active:active {
  transform: scale(0.95);
}

.active.disabled:active {
  transform: unset;
}

.btn.disabled {
  color: #aaaaaa !important;
  cursor: auto;
}

.btn:hover {
  background-color: #7f7f7f;
}

.btn.disabled:hover {
  background-color: #5f5f5f;
}

.btn.btn-highlight {
  background-color: #006600;
}

.btn.btn-highlight:hover {
  background-color: #008800;
}

.btn:focus {
  outline: none;
}

.border-right {
  border-right: 1px solid #f1f1f1;
}

.menu-section {
  cursor: auto;
  margin: 5px;
  color: #cfcfcf;
  font-weight: bold;
  border-bottom: 1px solid #7f7f7f;
  padding-bottom: 5px;
}

.border-top {
  padding-top: 4px;
  border-top: 1px solid #7f7f7f;
}

.right {
  float: right;
}

.contain-subitems {
  position: relative; /* move subitems in x-axis */
}

/* make content arrow */
.contain-subitems::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.contain-subitems:empty::after {
  margin-left: 0;
}

.contain-subitems:hover > .dropdown {
  display: inline-block;
}

.contain-subitems-no-arrow:hover {
  position: relative;
}

.contain-subitems-no-arrow:hover > .dropdown {
  display: inline-block;
}

.dropdown {
  background-color: #5f5f5f;
  display: none;
  position: absolute;
  z-index: 50; /* Codemirror goes until 10, GoldenLayout until 40 */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  max-height: calc(100vh - 100px); /* guarantees that it does not overflow */
  overflow-x: hidden;
  overflow-y: auto;
  top: 24px;
  margin: 0;
}

.dropdown > hr {
  display: block;
  border: 0;
  height: 1px;
  margin: 0;
  color: #fff;
  background-color: #fff;
}

.dropdown-left {
  left: 0;
}

.dropdown-right {
  right: 0;
}

#share input {
  border: 0;
  padding: 0;
  margin: 2px;
  margin-right: 8px;
}

#sharebtn:after {
  position: relative;
  top: 2px;
  left: -3px;
  content:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAdtJREFUOBGdlE0oBGEYx2fW5uKjkBQXByUROSguxGGjKEeKyxYlNye5SPnK1dIWtz0o4iDKTT4vVilJkaR2D1siB98f4/esMWZnZ6Zd//r1vu/zPO9/nnnfZhRN0zJhEiJg1TuBJchSUpSXulEYhhW4BrM8LPKgFVbNCae5ytOjJPdUVe2yFpFrIOaHUkvug/U6BNmnmXPSYTFYO1Mwk6424B5uwCyVxSxUUzeI6ZeRJCCaMgL6hNghnILt+RFfA1EIMn73yxk5qZzEPk9/dCiI6fEeRsPUzVCemnA+FuO/11SUbnJBOlXlDP+rBTZKQ0IB+CH8b0OO4gSDAYiL7s6YtLm9sl6aPLC5CXZgGaQ70Sd40zbEoJCN/TAGERgCQ2kZYlbHzhkIwzbIV3QLhlI2xMzHLvk8DyAfAlAC82BILkXe3dUYs0Zq5FanoUwnl7GTy3llNCRGcjs+NuUY0eSJfEm9EII7kNdtx+yJMUFiOAJVEMX0Sqc5oUpR5KvogCBkYzQHb5aa+NJDYpNZPSzCsc4Do/ko+lg/wxFMgJ2kOfkL2YtOd+Ec5KxcRU0lvMC4/IZsRbKFxBZIZ5e2RT9BudgKkLOtcTSUWkxrGfxQJGsHyQ/kAgIcX+wbhtLg1dVYfqAAAAAASUVORK5CYII=");
}

#sharebtn:active {
  transform: scale(0.90);
}

/**** Tab content ****/


.tab-content {
  font-size: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab-compiler a {
  display: block;
  text-decoration: none;
  padding: 2px 9px;
  color: white;/* #f1f1f1;*/
  background-color: #5f5f5f;
}

.tab-compiler a:hover {
  background-color: #7f7f7f;
}
/*********** Panes ************/

.view {
  height: 100%;
}

.editor {
  font-size: 13px !important;
}

.CodeMirror {
  height: 100%;
  border: 1px solid #eee;
}

.tab-compiler {
  height: 100%;
}

.pane .tab-compiler .CodeMirror {
  height: 100%;
}

.CodeMirror-placeholder {
  color: #888;
}

.cm-std {
  cursor: pointer;
  color: #555;
}

.grabbing {
  cursor: crosshair;
}

code {
    font-family: monospace;
}

/*
.tooltip {
  transform: none;
  margin: 0px;
}

.tooltip-text {
  display: block;
  position: relative;
  z-index: 10;
  overflow: visible;
  padding: 5px 8px;
  margin-top: 10px;
  line-height: 11px;
  font-size: 11px;
  border-radius: 4px;
  text-align: left;
  color: #fff;
  background-color: #5f5f5f;
  pointer-events: none;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.tooltip-text h3 {
  margin: 6px;
}

.tooltip-text ul {
  margin: 0;
}
*/

.tooltip {
  border: 1px solid silver;
  border-radius: 3px;
  color: #444;
  padding: 2px 5px;
  font-size: 12px;
  font-family: monospace;
  background-color: white;
  white-space: pre-wrap;

  overflow: scroll;

  max-width: 40em;
  max-height: 60em;
  position: absolute;
  z-index: 50;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}

.std {
  margin: auto;
  width: 90%;
}

.std hr {
  margin-top:10px;
}

.page {
  background-color:white;
  height: 100%;
  overflow: auto;
  flex: 1 0 0;
  padding: 15px;
}

.page #TOC {
  border: 1px solid darkgray;
  background: whitesmoke;
  float: right;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.page h2 {
  margin-bottom: 0;
}

.page input {
  margin-right: 1em;
}

.page p {
  margin: 8px 0 8px 0;
}

.page table {
  border-collapse: collapse;
  width: 100%;
}

.page th, .page td {
  padding: 3px;
  text-align: left;
}

.padding {
  background-color: #f2f2f2;
}

.page th {
  border-bottom: 1px solid #ddd;
}

.page tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.page tr:hover {background-color:#f5f5f5;}

/*********** Graphs ************/

.toolbar {
  background-color: #5f5f5f;
  height: 27px;
  display: inline-block;
  width: 100%;
  overflow: visible;
  white-space: nowrap;
}

.adjust-height {
  height: 26px;
}

.graph {
  height: calc(100% - 28px);
  width: 100%;
  margin: 0px auto;
}

.graph a {
  cursor: pointer;
}

.flex {
  display: flex;
  overflow: visible;
}

.grow {
  flex-grow: 1;
}

.inline {
  display: inline-block;
}

.range {
  border: 0;
  padding: 0;
  vertical-align: middle;
  width: calc(100% - 5px);
}

/* ast-dump style */

.cm-declarator {
  font-weight: bold;
  color: #00802b;
}

.cm-definition {
  color: #3366ff;
}

.cm-line {
  color: #999900;
}

.cm-type {
  color: #00802b;
}

.cm-ast-constructor {
  font-weight: bold;
  color: #708;
}

.title {
  padding: 5px 10px;
  color: white;
}

.syntax-error {
  color: red;
  padding-left: 0.3em;
}

.invisible {
  display: none !important;
}

.widget {
  font-size: 12px;

  left: 40px;
  top: 40px;

  height: 80%;

  border: 1px solid silver;
  border-radius: 3px;
  color: #444;
  /* padding: 2px 5px; */
  background-color: white;

  overflow: hidden;

  max-width: 40em;
  max-height: 60em;

  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}

.widget div {
  min-width: 85%;
}

.widget_body {
  height: calc(100% - 32px);
  overflow: scroll;
  padding: 0 12px;
}

.widget .questions {
  line-height: 1.3;
}

.widget a {color:#0000FF;}
.widget a:visited {color:#0000FF;}
.widget a:hover {color:#0000FF;}
.widget a:active {color:#0000FF;} 

.widget .tests {
  padding-left: 20px;
  font-family: monospace;
}
