name: Ubuntu-20.04

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Deps
      run: sudo apt install z3
    - name: Build
      run: make
    - name: Run tests
      run: make test
